<nav class="navbar navbar-expand-sm navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="convidados" routerLinkActive="active" class="nav-link" >Lista</a>
        </li> 
        <li class = "nav-item">
            <a routerLink="criar-convidado" routerLinkActive="active" class="nav-link" >Add Convidado</a>
        </li> 
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class = "footer">
    <div class = "container">
        <span>Sistema Lista Convidados 2020 @EugenioJunior</span>
    </div>
</footer>